<h1>Список пользователей</h1>

<div class="container">
  @if (isLoading()) {
    <div class="center">
      <mat-spinner/>
    </div>
  } @else {
    <div class="mat-elevation-z2">
      <table [dataSource]="users" aria-label="Таблица с пользователями" class="full-width-table" mat-table>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Имя пользователя</th>
          <td *matCellDef="let user" mat-cell>
            {{ user.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell>Email</th>
          <td *matCellDef="let user" mat-cell>
            {{ user.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>Действия</th>
          <td *matCellDef="let user" mat-cell>
            <div class="actions-cell">
              <button
                (click)="onEditUserClick(user)"
                aria-label="Редактировать пользователя"
                matIconButton
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                (click)="onDeleteUserClick(user.id)"
                aria-label="Удалить пользователя"
                mat-icon-button
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
    </div>
  }

  <button (click)="onCreateUserClick()" [disabled]="isLoading()" class="add-button" matButton="filled">Добавить
    пользователя
  </button>
</div>
