<h2 matDialogTitle>
  @if (isEditing) {
    Редактирование пользователя
  } @else {
    Создание пользователя
  }
</h2>

<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="user-form">
    <mat-form-field>
      <mat-label>
        Имя пользователя
      </mat-label>
      <input formControlName="name" matInput placeholder="Введите имя" type="text"/>
      @if (userForm.controls.name.invalid && (userForm.controls.name.touched || userForm.controls.name.dirty)) {
        <mat-error>
          @if (userForm.controls.name.hasError('required')) {
            Имя обязательно
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Email
      </mat-label>
      <input formControlName="email" matInput placeholder="Введите email" type="email"/>
      @if (userForm.controls.email.invalid && (userForm.controls.email.touched || userForm.controls.email.dirty)) {
        <mat-error>
          @if (userForm.controls.email.hasError('required')) {
            Email обязателен
          }
          @if (userForm.controls.email.hasError('email')) {
            Неверный формат email
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-dialog-actions>
      <button [disabled]="!userForm.valid || isFetching()" matButton="filled" type="submit">
        Сохранить
      </button>
      <button [disabled]="isFetching()" mat-dialog-close matButton="outlined" type="button">
        Отменить
      </button>
    </mat-dialog-actions>
  </form>

  @if (isFetching()) {
    <div class="loader">
      <mat-spinner/>
    </div>
  }
</mat-dialog-content>
